[submodule "pytmc"]
	path = pytmc
	url = ../../slaclab/pytmc.git
[submodule "lcls-twincat-motion"]
	path = lcls-twincat-motion
	url = ../lcls-twincat-motion.git
[submodule "twincat-ads"]
	path = twincat-ads
	url = ../twincat-ads.git
[submodule "ads-ioc"]
	path = ads-ioc
	url = ../ads-ioc.git
[submodule "m-epics-ethercatmc"]
	path = m-epics-ethercatmc
	url = ../m-epics-ethercatmc.git
[submodule "ess-motor"]
	path = ess-motor
	url = ../ess-motor.git
[submodule "lcls-twincat-general"]
	path = lcls-twincat-general
	url = ../lcls-twincat-general.git
[submodule "lcls-twincat-pmps"]
	path = lcls-twincat-pmps
	url = ../lcls-twincat-pmps.git
[submodule "ads-deploy"]
	path = ads-deploy
	url = ../ads-deploy.git
