[submodule "tcparse"]
	path = tcparse
	url = ../tcparse.git
[submodule "pytmc"]
	path = pytmc
	url = ../..slaclab/pytmc.git
[submodule "lcls-twincat-motion"]
	path = lcls-twincat-motion
	url = ../pcdshub/lcls-twincat-motion
[submodule "twincat-ads"]
	path = twincat-ads
	url = ../pcdshub/twincat-ads
